<div class="row">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{pageTitle}}</h1>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-8">
        <ng-container *ngIf="question">
            <div class="form-group">
                <label for="title">Question Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="question.title" readonly>
            </div>
        </ng-container>
    </div>
</div>
<app-answer-list [questionId]="questionId"></app-answer-list>
<app-answer-create [questionId]="questionId"></app-answer-create>
<div class="row justify-content-center mt-3 mb-3">
    <div class="col-8 mt-3">
        <a [routerLink]="['/questions']" class="btn btn-primary float-right">Cancel</a>
    </div>
</div>