<div class="row">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col">
        <div class="card" *ngIf="question">
            <div class="card-header">
                {{ pageTitle }}
            </div>
            <div class="card-body">
                <div>
                    <div>
                        <label>Title: </label>
                        <label>{{ question.title }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <app-answer-list></app-answer-list>
</div>
<div class="row">
    <app-answer-create></app-answer-create>
</div>

<div class="row">
    <a [routerLink]="['/questions']" class="btn btn-primary">Cancel</a>
</div>