<div class="row">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{pageTitle}}</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Question Title</label>
                <input type="text" formControlName="title" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">Title is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="subjectId">Please select a Subject</label>
                <select class="form-control" formControlName="subjectId" (change)="getLessons()"
                    [ngClass]="{ 'is-invalid': submitted && f.subjectId.errors }">
                    <ng-container *ngIf="subjects && subjects.length">
                        <option *ngFor="let sub of subjects" [ngValue]="sub.id">{{sub.title}}</option>
                    </ng-container>
                </select>
                <div *ngIf="submitted && f.subjectIderrors" class="invalid-feedback">
                    <div *ngIf="f.subjectId.errors.required">Subject is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lessonId">Please select a Lesson</label>
                <select class="form-control" formControlName="lessonId"
                    [ngClass]="{ 'is-invalid': submitted && f.lessonId.errors }">
                    <ng-container *ngIf="lessons && lessons.length">
                        <option *ngFor="let les of lessons" [ngValue]="les.id">{{les.title}}</option>
                    </ng-container>
                </select>
                <div *ngIf="submitted && f.lessonId.errors" class="invalid-feedback">
                    <div *ngIf="f.lessonId.errors.required">Lesson is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Create
                </button>
                <a [routerLink]="['/questions']" class="btn btn-primary float-right">Cancel</a>
            </div>
        </form>
    </div>
</div>