<div class="row justify-content-center">
    <div class="col-8">
        <h4>{{pageTitle}}</h4>
        <div class="col-4 no-left-padding">
            <input class="form-control form-control-sm" placeholder="Filter by Title" type="text"
                [(ngModel)]='listFilter' />
        </div>
        <div class="table-responsive table-sm table-striped table-hover mt-1">
            <table class="table table-bordered" *ngIf="answers && answers.length">
                <caption>List of Answers</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">IsAccepted</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let answer of filteredAnswers">
                        <td>{{answer.title}}</td>
                        <td>{{answer.isAccepted}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>