<div class="row">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{pageTitle}}</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="form-group mt-3 mb-5">
            <label for="subjectId">Select a Subject to display the Lessons</label>
            <select class="form-control" (change)="loadLessons($event)">
                <ng-container *ngIf="subjects && subjects.length">
                    <option value="0">Select a Subject</option>
                    <option *ngFor="let sub of subjects" value="{{sub.id}}">{{sub.title}}</option>
                </ng-container>
            </select>
        </div>
        <ng-container *ngIf="lessons && lessons.length">
            <div class="col-4 no-left-padding mt-5">
                <input class="form-control form-control-sm" placeholder="Filter by Title" type="text"
                    [(ngModel)]='listFilter' />
            </div>
            <div class="table-responsive table-sm table-striped table-hover mt-1">
                <table class="table table-bordered">
                    <caption>List of Lessons</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lesson of filteredLessons">
                            <td>{{lesson.title}}</td>
                            <td>{{lesson.description}}</td>
                            <td>
                                <a [routerLink]="['/subjects',subjectId,'lessons', lesson.id]"
                                    class="btn btn-outline-primary btn-sm">Details</a>
                                <a [routerLink]="['/subjects',subjectId,'lessons', lesson.id,'edit']"
                                    class="btn btn-outline-primary btn-sm ml-1">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
    </div>
</div>
<div class="row justify-content-center mt-3 mb-3">
    <div class="col-8 mt-3">
        <a class="btn btn-primary" [routerLink]="['create']">Create Lesson</a>
    </div>
</div>